In [2]:
import sklearn
import numpy as np
import pandas as pd
import time

In [3]:
train_data = pd.read_csv('./data/train_data.csv')
test_data = pd.read_csv('./data/test_data.csv')

In [4]:
train_data = train_data.drop('Unnamed: 0', axis=1)
test_data = test_data.drop('Unnamed: 0', axis=1)

In [5]:
train_data.head()

   userId  movieId  rating   timestamp
0   61783     3114     4.0  1035726939
1   99809     1198     4.0  1365961286
2  136504    95167     3.0  1461063800
3  213595     1204     3.0  1420950128
4   31307     1724     4.0  1339441104

In [43]:
test_data.head()

   userId  movieId  rating   timestamp
0       1     1221     5.0   945544788
1   88178      345     4.0   960700648
2  178393      223     5.0  1004463879
3       1     1961     3.0   945544871
4   88178      361     3.0   960703473

In [6]:
# aggregated mean according to movie
movie_count = train_data[['movieId','rating']].groupby(by='movieId').mean()

In [22]:
movie_count.head()

           rating
movieId
1        3.888562
2        3.224881
3        3.179600
4        2.882515
5        3.084477

In [9]:
# for movies that exists in test data but not in train data
all_avg = train_data['rating'].mean()

In [10]:
# get prediction by getting average
start = time.time()
pred = np.array([float(movie_count.ix[movie[1]['movieId']]) if movie[1]['movieId'] in movie_count.index else float(all_avg) for movie in test_data.iterrows()])
print(time.time()-start)

717.3572449684143

In [60]:
test_error = np.sqrt(sum((pred-test_data['rating'].as_matrix())**2)/len(pred))

In [61]:
print('Baseline model RMSE:', test_error)

Baseline model RMSE: 0.960493034463

## Wrap in structured class module

In [55]:
import importlib
importlib.reload(baseline)

In [56]:
from baseline import BaselineRecommender
# fit to baseline model
baseline_model = BaselineRecommender('movieId', 'rating')
baseline_model.fit(train_data)

BaselineRecommender(id_col='movieId', rating_col='rating')

In [57]:
# get prediction
start = time.time()
pred = baseline_model.predict(test_data)
print(time.time()-start)

886.7572000026703

In [58]:
from sklearn.metrics import mean_squared_error
test_error = np.sqrt(mean_squared_error(test_data['rating'].as_matrix(), pred))
print('Baseline model RMSE:', test_error)

Baseline model RMSE: 0.960493034464